<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>oauth2Callback</servlet-name>
        <servlet-class>com.google.api.services.samples.calendar.appengine.server.OAuth2Callback</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>oauth2Callback</servlet-name>
        <url-pattern>/oauth2callback/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>calendarServiceServlet</servlet-name>
        <servlet-class>com.google.api.services.samples.calendar.appengine.server.CalendarGwtRpcSample</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>sample</servlet-name>
        <servlet-class>com.google.api.services.samples.calendar.appengine.server.CalendarAppEngineSample</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>calendarServiceServlet</servlet-name>
        <url-pattern>/calendar/calendarService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>sample</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>any</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>